<h1>Please sign in.</h1>

<form action='/sessions' method='post'>
  Email: <input name="email" type="text" required>
  Password: <input name="password" type="password" required>
  <input class="button_style" type="submit" value="Sign in">
</form>
