body {
  width: 100%;
  height: 100%;
  font-family: Helvetica;
}

header {
  border-bottom: 2px solid #6c797a;
  position: fixed;
  padding: 10px;
  width: 100%;
  top: 0px;
  height: 80px;
  background: #1da34b;
}

main {
  background: #e8edee;
  width: 100%;
  padding-top: 60px;
  margin-top: 50px;
  height: 2000px;
  background-image: url(../img/crossword.png);
  background-repeat: repeat;
}

#logo {
  /*position: relative;*/
  display: inline-block;
  /*top: 20px;*/
}

nav {
  float: right;
  position: relative;
  right: 10px;
  bottom: 15px;
  width: 30%;
}

a {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

#logo a {
  font-size: 32px;
  color: #e8edee;
}

input {
  -webkit-appearance: none;
  box-shadow: none !important;
}

#sign-in, #sign-up {
  border: 2px solid #e8edee;
  padding: 5px;
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
  width: 40%;
  color: #e8edee;
}

#sign-in:hover, #sign-up:hover {
  background: #e8edee;
  color: #202f3f;
}

#notice {
  display: inline-block;
  margin-bottom: 20px;
}

form#sign-out {
  display: inline-block;
}

input.button_style {
  border: 2px solid #e8edee;
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
  color: #e8edee;
  background: #1da34b;
}

input.button_style:hover {
  background: #178940;
  cursor: pointer;
}
