html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Helvetica;
}

header {
  border-bottom: 2px solid #6c797a;
  position: fixed;
  padding: 10px;
  width: 100%;
  top: 0px;
  height: 80px;
  background: #1da34b;
}

main {
  background: #e8edee;
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-top: 60px;
  margin: 0 auto -4em;
  margin-top: 50px;
  background-image: url(../img/crossword.png);
  background-repeat: repeat;
}

/*------ Navigation ------*/

#user-links {
  width: 100%;
  padding-top: 15px;
}

#logo {
  display: inline-block;
  float: left;
}

nav {
  float: left;
  width: 65%;

}

a {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

#logo a {
  font-size: 32px;
  color: #e8edee;
}
#logo {
  padding-top: 10px;
}

input {
  -webkit-appearance: none;
  box-shadow: none !important;
}

#sign-in, #sign-up, #add-link {
  border: 2px solid #e8edee;
  padding: 5px;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  width: 20%;
  color: #e8edee;
}

#sign-in {
  margin-left: 110px;
}

#add-link{
  margin-left: 40px;
}

#sign-in:hover, #sign-up:hover {
  background: #e8edee;
  color: #202f3f;
}

form#sign-out {
  display: inline-block;
  margin-left: 30%;
}

input.button_style, .button-highlighted {
  border: 2px solid #e8edee;
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
  color: #e8edee;
  background: #1da34b;
}

.button-highlighted {
  background: #e0691b;
}

.button-highlighted:hover {
  background: #f18b23;
}
input.button_style:hover {
  background: #178940;
  cursor: pointer;
}

#sign-out input[type=submit] {
  font-size: 18px;
}

/*------ Errors ------*/

#notice {
  display: inline-block;
  margin: 5px;
  margin-bottom: 20px;
}

/*------ Links feed styling ------*/

#links-container {
  width: 80%;
  margin: 20px auto;
}

.link {
  box-shadow: 0 0 5px black;
  background-image: url(../img/crossword.png);
  background-repeat: repeat;
  background: #c8f3ca;
  margin: 15px inherit;
  padding: 15px 10px;
  overflow: auto;
}

.title {
  color: #d75315;
}

.title:hover {
  color: #202f3f;
}

.link a.title {
  letter-spacing: 1px;
}

.link .description {
  margin: 10px inherit;
}

.link .source, .source a {
  float: right;
  font-size: 16px;
}
.source {
  width: 26%;
}
.source a {
  color: #d75315;
}
.source a:hover {
  color: #202f3f;
}

/*------ Footer ------*/

footer {
  display: flex;
  background-color: #1e963a;
  width: 100%;
  border-top: 2px solid #6c797a;
}

footer > * {
  margin: auto inherit;
}

footer img {
  vertical-align: top;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  margin-left: 10px;
}

footer img:hover {
  border: 1px solid #d75315;
}

footer #technologies {
  -webkit-flex: 1;
  flex: 1;
}

footer p, footer a {
  padding: 5px 25px;
  font-size: 16px;
  color: #e8edee;
  line-height: 25px;
}

footer a {
  margin: 0;
  padding: 0;
  color: #202f3f;
}

footer a:hover {
  color: #d75315;
}

footer, .push {
  height: 7em;
  overflow: auto;
}
