<div id="makersacademy-log">
  <a href="http://makersacademy.com/">
    <img src="http://makersacademy.com/images/logo.png" alt="makers logo">
  </a>
</div>
<div id="technologies">
  <p>
    This page was built by <a href="http://github.com/maikon">moi</a> at <a href="http://makersacademy.com/">Makers Academy, a highly intensive and excellent coding course in London, that transforms average joe's into code producing geeks.</a>
  </p>
  <p>
    The site was built using mighty tools such as Ruby, Sinatra, RSpec, Capybara, HTML and CSS.
  </p>
</div>
