<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/application.css">
  <title>Bookmark Manager</title>
</head>
<body>
  <%= partial :flash %>
  <%= partial :welcome_message %>
  <%= yield %>
</body>
</html>
