<li class="link">
  <a class="title" href="<%= link.url %>"><%= link.title %></a>
  <div class="star hollow">&#9734</div>
  <div class="star solid">&#9733</div>
  <div class="description">
    <p>
      Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    </br>
  </div>
  <span class="source">
    Added yesterday by:
    <a href="http://github.com/maikon">Makis</a>
  </span>
</li>
