<li class="link">
  <a class="title" href="<%= link.url %>"><%= link.title %></a>
  <div class="description">
   <p>
     Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
   </p>
  </div>
  <span class="source">
    added yesterday by
    <a href="http://github.com/maikon">Makis</a>
  </span>
</li>
